@import "../../../../support/style-variables/style-variables.scss";

.primary-navigation {
    min-width: 100%;

    .navbar {
        padding: 0;
        min-width: 100%;

        .navbar-brand {
            color: $primary-color;
        }

        ul.navbar-nav {
            margin-left: auto;
            width: 100%;
            justify-content: flex-end;

            li.primary-nav-item {
                a.nav-link {
                    border-bottom: .5em solid transparent;
                }

                &.active {
                    a.nav-link {
                        border-color: $primary-color;
                    }
                }
            }
        }
    }
}
